body {
  font-family: "Poppins", sans-serif;
}

#header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1 {
  font-size: 3rem;
  display: inline-block;
  margin: 0;
}

.filters {
  margin: 5% 20%;
  padding-bottom: 10px;
  border-bottom-width: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.filters p {
  font-weight: 600;
  margin-bottom: 0;
}

.filters p,
.filters .search {
  display: inline-flex;
}

.filters div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#roles {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.search p {
  margin: 0;
  padding-right: 10px;
}

[alt] {
  width: 50px;
  height: 50px;
}

table {
  background-color: white;
  margin: 0 auto;
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td,
th {
  padding: 4px 0;
}

td,
th {
  font-size: 1.2rem;
  text-align: left;
}

th,
tr>td:first-child {
  font-weight: 600;

}

th:first-child,
tr>td:first-child {
  padding-left: 10px;
  border-left: 1px solid black;
}

th:last-child,
tr>td:last-child {
  padding-right: 10px;
  border-right: 1px solid black;
}

tr>td:last-child {
  display: grid;
}

button[data-toggle=modal] {
  border-radius: 99px;
  background-color: #f44336;
}

button[data-toggle=modal]:hover {
  background-color: rgba(244, 67, 54, 0.45);
}

a {
  display: inline-block;
}

#nomatch {
  display: none;
  margin: 0 40%;
  background-color: white;
  color: red;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
}

.modal-header button:hover {
  background-color: none;
}

.modal-content {
  width: 425px;
}

.modal img {
  width: 300px;
  border-radius: 50%;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}

#modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-body p {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
}

#modal-body a {
  text-decoration: none;
}

#modal-body>div {
  margin-top: 20px;
  font-size: 1.3rem;
  text-align: center;
}

#modal-body>div a {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#modal-body button a {
  color: black;
}

#modal-body button {
  border-radius: 90px;
  padding: 5px 15px;
  background-color: white;

}

#modal-body button:hover a {
  text-decoration: none;
}

#modal-body button:hover {
  background-color: gray;
}

/* loader */
#pageContent {
  background-color: rgba(128, 128, 128, 0.12);
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

#loader {
  color: #c3362b;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;

  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}